{% extends "base.html" %}

{% block title %}
  Загрузка файлов — YaCut
{% endblock title %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color: red;">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Загрузите файлы и получите на них короткие ссылки
  </p>
  <div class="container text-center">
    <form method="POST" enctype="multipart/form-data" novalidate>
      {{ form.csrf_token }}
      <div class="mb-3">
        {{ form.files(class="form-control form-control-lg", id="filesInput") }}
        <p class="text-danger">
          {% for error in form.files.errors %}
            {{ error }}
          {% endfor %}
        </p>
      </div>
      {{ form.submit(class="btn btn-primary px-4 py-2") }}
    </form>
  </div>
  <div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} text-center" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% if links %}
  <div class="container mt-4">
      <h3 class="text-center">Загруженные файлы:</h3>
      {% for link in links %}
      <div class="alert alert-success">
          <p><strong>Файл:</strong> {{ link.file_name }}</p>
          <p><strong>Ссылка:</strong> 
              <a href="{{ link.short_link() }}" target="_blank">
                  {{ link.short_link() }}
              </a>
          </p>
      </div>
      {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock content %}
